@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

html,
body,
.list-container {
  overscroll-behavior: none; /* Disables bounce */
}

.maplibregl-popup-close-button {
  font-size: 20px;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maplibregl-popup-content {
  background-color: #ffffff;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #ffffff;
}

.dark .maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #0a0a0a;
}

.react-modal-sheet-container {
  max-width: 512px;
  left: 0 !important;
  right: 0 !important;
  margin: auto;
}

.react-modal-sheet-header {
  height: 30px !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
